.block-about {
    font-family: 'Rubik';
    line-height: 34px;
    padding: 152px 0 0 0;
    background: url('../../img/about/s3.png'), url('../../img/about/Ellipse.svg'), url('../../img/about/Ellipse.svg'), url('../../img/about/Ellipse.svg'), url('../../img/about/line.svg'), url('../../img/about/row-line.svg'), url('../../img/about/lorem.png');
    background-repeat: no-repeat;
    background-position: 0 285px, 470px 342.69px, 470px 466.69px, 470px 590.69px, 479px 342.69px, 898px 1215px, 1217px 1197px;
}

@media screen and (max-width: 768px) {
    .block-about {
        padding: 120px 0 0 0;
        background: url('../../img/about/s3.png'), url('../../img/about/Ellipse.svg'), url('../../img/about/Ellipse.svg'), url('../../img/about/Ellipse.svg'), url('../../img/about/line.svg'), url('../../img/about/row-line_768.svg'), url('../../img/about/lorem.png');
        background-repeat: no-repeat;
        background-position: -162.18px 100px, 312px 308px, 312px 432px, 312px 555px, 321px 310px, 519px 1257px, 645px 1240px;
    }
  }

  @media screen and (max-width: 375px) {
    .block-about {
        padding: 87px 0 45px 0;
        background: url('../../img/about/s3_375.png'), url('../../img/about/Ellipse.svg'), url('../../img/about/Ellipse.svg'), url('../../img/about/Ellipse.svg'), url('../../img/about/line_375.svg'),  url('../../img/about/lorem.png');
        background-repeat: no-repeat;
        background-position: 168px 660px, 51px 338px, 51px 439px, 51px 540px, 61px 348px, 235px 2049px;
    }
  }

.central-block {
    display: flex;
    flex-wrap: wrap;
    position: relative;
}

@media screen and (max-width: 375px) {
    .central-block {
        flex-direction: column;
        margin: 73px 0 0 0;
    }
}

.about {

    span {
        font-size: 24px;
    }

    

		&__number {
            font-weight: 700;
            font-size: 64px;
		}

		
		&__text {
            font-size: 16px;
            padding: 28px 0 0 98px;
		}

        @media screen and (max-width: 768px) {
            &__text {
                font-size: 16px;
                padding: 14px 0 0 70px;
            }
        }

        @media screen and (max-width: 375px) {
            &__text {
                padding: 14px 0 0 26px;
            }
        }

        &_1 {
            margin: 0 0 27px 13.62%;
            width: 37%;
            background: url('../../img/about/s1.png') 37px 11px no-repeat;

            @media screen and (max-width: 768px) {
                margin: 0 0 67px 3.26%;
                width: 56%;
            }

            @media screen and (max-width: 375px) {
                background: url('../../img/about/s1.png') -40px 0px no-repeat;
                margin: 0;
                padding: 40px 0 196px 6.67%;
                width: 80%;
            }

            span {
                display: none;
            }

            @media screen and (max-width: 768px) {
                span {
                    display: contents;
                }
            }

        }

        &_2 {
            margin: 0 0 67px 53.9%;
            width: 37%;
            height: 162px;
            padding-top: 23px;
            background: url('../../img/about/s2.png') 4px 0px no-repeat;
        }

        @media screen and (max-width: 768px) {
            &_2 {
                margin: 0 0 67px 44.9%;
                width: 56%;
                height: 162px;
            }
        }

        @media screen and (max-width: 375px) {
            &_2 {
                padding: 0 0 30px 27.76%;
                margin: 0;
                width: 62%;
                height: 162px;
                background: url('../../img/about/s2_375.png') 0px 50px no-repeat;
            }
        }

        &_3 {
            order: 1;
            margin: 0 0 0px 12.5%;
            width: 30%;

            .about__text {
                padding-left: 115px;
            }
        }

        @media screen and (max-width: 768px) {
            &_3 {
                order: 1;
                margin: 0 0 0px 3.26%;
                width: 47%;
    
                .about__text {
                    padding-left: 63px;
                }
            }
        }

        @media screen and (max-width: 375px) {
            &_3 {
                order: 1;
                margin: 0 0 0px 6.4%;
                width: 98%;
    
                .about__text {
                    padding: 40.69px 0 0 27px;
                }
            }
        }

        &_4 {
            order: 2;
            margin: 0 0 0px 8.9%;
            background: url('../../img/about/Oks.png');
            background-size: 100% 100%;
            width: 38.89%;
            height: 280px;
        }

        @media screen and (max-width: 768px) {
            &_4 {
                order: 2;
                margin: 0;
                background: url('../../img/about/Oks_768.png');
                width: 48.89%;
                height: 280px;
            }
        }

        @media screen and (max-width: 375px) {
            &_4 {
                order: 2;
                margin: 56px 5.6% 0;
                background: url('../../img/about/Oks_375.png');
                width: 88.8%;
                height: 278px;
            }
        }

        &_5 {
            box-sizing: border-box;
            order: 4;
            padding: 68px 100px 60px 48px;
            width: 48%;
            height: 298px;
            background-color: #A5E5F4;           
        }

        @media screen and (max-width: 768px) {
            &_5 {
                padding: 35px 2px 35px 21px;
                height: 342px;
                width: 48.89%;
            }
        }

        @media screen and (max-width: 375px) {
            &_5 {
                order: 3;
                padding: 46px 24px 65px 26px;
                height: 417px;
                width: 100%;
            }
        }

        &_5d {
            position: absolute;
            top: 168px;
            left: 640px;
        }

        @media screen and (max-width: 768px) {
            &_5d {
                top: 175px;
                left: 281px;
            }
        }

        @media screen and (max-width: 375px) {
            &_5d {
                top: 900px;
                left: 281px;
            }
        }

        &_win {
            position: absolute;
            top: 566px;
            left: 746px;
        }

        @media screen and (max-width: 768px) {
            &_win {
                top: 600px;
                left: 390px;
            }
        }

        @media screen and (max-width: 375px) {
            &_win {
                top: 1235px;
                left: 24px;
            }
        }



        

        &_6 {
            box-sizing: border-box;
            order: 3;
            background: url('../../img/about/Oks1.png');
            background-size: 100% 100%;
            color: #fff;
            margin: 50px 0 0px 12.5%;
            width: 38.89%;
            height: 319px;
            padding: 96.69px 0 0 33px;

            .about__text {
                    width: 321px;
            }
        }

        @media screen and (max-width: 768px) {
            &_6 {
                box-sizing: border-box;
                order: 3;
                background: url('../../img/about/Oks1_768.png');
                background-size: 100% 100%;
                color: #fff;
                margin: 93px 0 0 3.26%;
                width: 47%;
                height: 319px;
                padding: 54.69px 0 0 65px;
    
                .about__text {
                        width: 237px;
                        padding: 31px 0 0 0px;
                }
            }
        }

        @media screen and (max-width: 375px) {
            &_6 {
                box-sizing: border-box;
                order: 4;
                background: url('../../img/about/Oks1_375.png');
                background-size: 100% 100%;
                color: #fff;
                margin: 0 0 0 0;
                width: 100%;
                height: 319px;
                padding: 37px 0 0 49px;
    
                .about__text {
                        width: 246px;
                        padding: 31px 0 0 0px;
                }
            }
        }
}
