@font-face {
    font-family: "Circe";
    src:  url("/fonts/Circe-Regular.woff2") format("woff2");
  }

  @font-face {
    font-family: "Circe-bold";
    src:  url("/fonts/Circe-Bold.woff2") format("woff2");
  }
  

.buttons {
    font-family: "Circe";
    background: url('../../img/buttons/01.png') 0 -50px/ cover no-repeat;
    padding: 102px 0 0 0;


    .wrapper {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(2, 1fr);
        grid-column-gap: 18.65px;
        grid-row-gap: 16.79px;
        padding: 125.37px 11.25% 92.3px 11.04%;
        width: 77.71%;
    }

    .item1 { grid-area: 1 / 1 / 2 / 3; }
    .item2 { grid-area: 1 / 3 / 2 / 4; }
    .item3 { grid-area: 2 / 1 / 3 / 2; }
    .item4 { grid-area: 2 / 2 / 3 / 3; }
    .item5 { grid-area: 2 / 3 / 3 / 4; }
    .item6 { grid-area: 2 / 4 / 3 / 5; }

    &__item {
        font-family: 'Circe-bold';
        position: relative;
        border-radius: 25px;
        box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.1);
        height: 265.76px;
        background: #fff url('../../img/buttons/5d.svg')  25px 15px no-repeat;

        &:hover {
            cursor: pointer;
            background-color: #FFE267;
            background-image: url('../../img/buttons/5dw.svg'), url('../../img/buttons/dots.svg') ;
            background-repeat: no-repeat;
            background-position: 25px 15px, 343.16px 58.75px;
        }
        
        &_large {
            background-color: #fff;
            background-image: url('../../img/buttons/5d.svg'), url('../../img/buttons/dots.svg') ;
            background-repeat: no-repeat;
            background-position: 25px 15px, 343.16px 58.75px;

            &:hover {
                background-color: #FFE267;
                background-image: url('../../img/buttons/5dw.svg'), url('../../img/buttons/dots.svg') ;
                background-repeat: no-repeat;
                background-position: 25px 15px, 343.16px 58.75px;
            }
        }

        &_arrow {
            background: #FFE267 url('../../img/buttons/arrow.svg') 32.02px 24.24px no-repeat;
            font-family: 'Circe';

            &:hover {
                background: #FFE267 url('../../img/buttons/arrow.svg') 32.02px 24.24px no-repeat;
            }
        }   
        
        
        

        .buttons__text {
            position: absolute;
            width: 186px;
            left: 18.65px;
            bottom: 18.65px;
            font-size: 22px;
            font-weight: 400;
        }
        
        

        @media screen and (max-width: 768px) {
            .buttons__text {                
                width: 167px;                
            }
        }

        @media screen and (max-width: 375px) {
            .buttons__text {   
                width: 110px;             
                font-size: 12px;                
            }
        }
        
        @media screen and (max-width: 768px) {
                    &_arrow > .buttons__text {                
                        width: 200px;
                    }    
                }

        @media screen and (max-width: 375px) {
            &_arrow > .buttons__text {                
                width: 109.9px;
            }    
        }
    }

    @media screen and (max-width: 375px) {
        &__item {
        background: #fff url('../../img/buttons/5d_375.svg')  25px 15px no-repeat;
        }
    }
}

@media screen and (max-width: 768px) {
    .buttons {
        background: url('../../img/buttons/01_768.png') 0 -87px;
        padding: 0 0 0 0;

        .wrapper {
            display: flex;
            flex-wrap: wrap;
            padding: 121px 3.26% 50px 3.26%;
            width: 93.97%;
        }

        .buttons__item {
            width: 31%;
        }

    }
}

@media screen and (max-width: 375px) {
    .buttons {
        background: url('../../img/buttons/01_768.png') 0 -87px;
        padding: 0 0 0 0;

        .wrapper {
            display: flex;
            flex-wrap: wrap;
            padding: 121px 3.26% 50px 3.26%;
            width: 86.94%;
        }

        .buttons__item {
            width: 45%;
        }

    }
}
@media screen and (max-width: 375px) {
    .buttons__item_arrow {
        background: #FFE267 url('../../img/buttons/arrow.svg') 32.02px 24.24px no-repeat;
    }
}