html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.block-about {
  font-family: "Rubik";
  line-height: 34px;
  padding: 152px 0 0 0;
  background: url("../../img/about/s3.png"), url("../../img/about/Ellipse.svg"), url("../../img/about/Ellipse.svg"), url("../../img/about/Ellipse.svg"), url("../../img/about/line.svg"), url("../../img/about/row-line.svg"), url("../../img/about/lorem.png");
  background-repeat: no-repeat;
  background-position: 0 285px, 470px 342.69px, 470px 466.69px, 470px 590.69px, 479px 342.69px, 898px 1215px, 1217px 1197px;
}

@media screen and (max-width: 768px) {
  .block-about {
    padding: 120px 0 0 0;
    background: url("../../img/about/s3.png"), url("../../img/about/Ellipse.svg"), url("../../img/about/Ellipse.svg"), url("../../img/about/Ellipse.svg"), url("../../img/about/line.svg"), url("../../img/about/row-line_768.svg"), url("../../img/about/lorem.png");
    background-repeat: no-repeat;
    background-position: -162.18px 100px, 312px 308px, 312px 432px, 312px 555px, 321px 310px, 519px 1257px, 645px 1240px;
  }
}
@media screen and (max-width: 375px) {
  .block-about {
    padding: 87px 0 45px 0;
    background: url("../../img/about/s3_375.png"), url("../../img/about/Ellipse.svg"), url("../../img/about/Ellipse.svg"), url("../../img/about/Ellipse.svg"), url("../../img/about/line_375.svg"), url("../../img/about/lorem.png");
    background-repeat: no-repeat;
    background-position: 168px 660px, 51px 338px, 51px 439px, 51px 540px, 61px 348px, 235px 2049px;
  }
}
.central-block {
  display: flex;
  flex-wrap: wrap;
  position: relative;
}

@media screen and (max-width: 375px) {
  .central-block {
    flex-direction: column;
    margin: 73px 0 0 0;
  }
}
.about span {
  font-size: 24px;
}
.about__number {
  font-weight: 700;
  font-size: 64px;
}
.about__text {
  font-size: 16px;
  padding: 28px 0 0 98px;
}
@media screen and (max-width: 768px) {
  .about__text {
    font-size: 16px;
    padding: 14px 0 0 70px;
  }
}
@media screen and (max-width: 375px) {
  .about__text {
    padding: 14px 0 0 26px;
  }
}
.about_1 {
  margin: 0 0 27px 13.62%;
  width: 37%;
  background: url("../../img/about/s1.png") 37px 11px no-repeat;
}
@media screen and (max-width: 768px) {
  .about_1 {
    margin: 0 0 67px 3.26%;
    width: 56%;
  }
}
@media screen and (max-width: 375px) {
  .about_1 {
    background: url("../../img/about/s1.png") -40px 0px no-repeat;
    margin: 0;
    padding: 40px 0 196px 6.67%;
    width: 80%;
  }
}
.about_1 span {
  display: none;
}
@media screen and (max-width: 768px) {
  .about_1 span {
    display: contents;
  }
}
.about_2 {
  margin: 0 0 67px 53.9%;
  width: 37%;
  height: 162px;
  padding-top: 23px;
  background: url("../../img/about/s2.png") 4px 0px no-repeat;
}
@media screen and (max-width: 768px) {
  .about_2 {
    margin: 0 0 67px 44.9%;
    width: 56%;
    height: 162px;
  }
}
@media screen and (max-width: 375px) {
  .about_2 {
    padding: 0 0 30px 27.76%;
    margin: 0;
    width: 62%;
    height: 162px;
    background: url("../../img/about/s2_375.png") 0px 50px no-repeat;
  }
}
.about_3 {
  order: 1;
  margin: 0 0 0px 12.5%;
  width: 30%;
}
.about_3 .about__text {
  padding-left: 115px;
}
@media screen and (max-width: 768px) {
  .about_3 {
    order: 1;
    margin: 0 0 0px 3.26%;
    width: 47%;
  }
  .about_3 .about__text {
    padding-left: 63px;
  }
}
@media screen and (max-width: 375px) {
  .about_3 {
    order: 1;
    margin: 0 0 0px 6.4%;
    width: 98%;
  }
  .about_3 .about__text {
    padding: 40.69px 0 0 27px;
  }
}
.about_4 {
  order: 2;
  margin: 0 0 0px 8.9%;
  background: url("../../img/about/Oks.png");
  background-size: 100% 100%;
  width: 38.89%;
  height: 280px;
}
@media screen and (max-width: 768px) {
  .about_4 {
    order: 2;
    margin: 0;
    background: url("../../img/about/Oks_768.png");
    width: 48.89%;
    height: 280px;
  }
}
@media screen and (max-width: 375px) {
  .about_4 {
    order: 2;
    margin: 56px 5.6% 0;
    background: url("../../img/about/Oks_375.png");
    width: 88.8%;
    height: 278px;
  }
}
.about_5 {
  box-sizing: border-box;
  order: 4;
  padding: 68px 100px 60px 48px;
  width: 48%;
  height: 298px;
  background-color: #A5E5F4;
}
@media screen and (max-width: 768px) {
  .about_5 {
    padding: 35px 2px 35px 21px;
    height: 342px;
    width: 48.89%;
  }
}
@media screen and (max-width: 375px) {
  .about_5 {
    order: 3;
    padding: 46px 24px 65px 26px;
    height: 417px;
    width: 100%;
  }
}
.about_5d {
  position: absolute;
  top: 168px;
  left: 640px;
}
@media screen and (max-width: 768px) {
  .about_5d {
    top: 175px;
    left: 281px;
  }
}
@media screen and (max-width: 375px) {
  .about_5d {
    top: 900px;
    left: 281px;
  }
}
.about_win {
  position: absolute;
  top: 566px;
  left: 746px;
}
@media screen and (max-width: 768px) {
  .about_win {
    top: 600px;
    left: 390px;
  }
}
@media screen and (max-width: 375px) {
  .about_win {
    top: 1235px;
    left: 24px;
  }
}
.about_6 {
  box-sizing: border-box;
  order: 3;
  background: url("../../img/about/Oks1.png");
  background-size: 100% 100%;
  color: #fff;
  margin: 50px 0 0px 12.5%;
  width: 38.89%;
  height: 319px;
  padding: 96.69px 0 0 33px;
}
.about_6 .about__text {
  width: 321px;
}
@media screen and (max-width: 768px) {
  .about_6 {
    box-sizing: border-box;
    order: 3;
    background: url("../../img/about/Oks1_768.png");
    background-size: 100% 100%;
    color: #fff;
    margin: 93px 0 0 3.26%;
    width: 47%;
    height: 319px;
    padding: 54.69px 0 0 65px;
  }
  .about_6 .about__text {
    width: 237px;
    padding: 31px 0 0 0px;
  }
}
@media screen and (max-width: 375px) {
  .about_6 {
    box-sizing: border-box;
    order: 4;
    background: url("../../img/about/Oks1_375.png");
    background-size: 100% 100%;
    color: #fff;
    margin: 0 0 0 0;
    width: 100%;
    height: 319px;
    padding: 37px 0 0 49px;
  }
  .about_6 .about__text {
    width: 246px;
    padding: 31px 0 0 0px;
  }
}

@font-face {
  font-family: "Circe";
  src: url("/fonts/Circe-Regular.woff2") format("woff2");
}
@font-face {
  font-family: "Circe-bold";
  src: url("/fonts/Circe-Bold.woff2") format("woff2");
}
.buttons {
  font-family: "Circe";
  background: url("../../img/buttons/01.png") 0 -50px/cover no-repeat;
  padding: 102px 0 0 0;
}
.buttons .wrapper {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 18.65px;
  grid-row-gap: 16.79px;
  padding: 125.37px 11.25% 92.3px 11.04%;
  width: 77.71%;
}
.buttons .item1 {
  grid-area: 1/1/2/3;
}
.buttons .item2 {
  grid-area: 1/3/2/4;
}
.buttons .item3 {
  grid-area: 2/1/3/2;
}
.buttons .item4 {
  grid-area: 2/2/3/3;
}
.buttons .item5 {
  grid-area: 2/3/3/4;
}
.buttons .item6 {
  grid-area: 2/4/3/5;
}
.buttons__item {
  font-family: "Circe-bold";
  position: relative;
  border-radius: 25px;
  box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.1);
  height: 265.76px;
  background: #fff url("../../img/buttons/5d.svg") 25px 15px no-repeat;
}
.buttons__item:hover {
  cursor: pointer;
  background-color: #FFE267;
  background-image: url("../../img/buttons/5dw.svg"), url("../../img/buttons/dots.svg");
  background-repeat: no-repeat;
  background-position: 25px 15px, 343.16px 58.75px;
}
.buttons__item_large {
  background-color: #fff;
  background-image: url("../../img/buttons/5d.svg"), url("../../img/buttons/dots.svg");
  background-repeat: no-repeat;
  background-position: 25px 15px, 343.16px 58.75px;
}
.buttons__item_large:hover {
  background-color: #FFE267;
  background-image: url("../../img/buttons/5dw.svg"), url("../../img/buttons/dots.svg");
  background-repeat: no-repeat;
  background-position: 25px 15px, 343.16px 58.75px;
}
.buttons__item_arrow {
  background: #FFE267 url("../../img/buttons/arrow.svg") 32.02px 24.24px no-repeat;
  font-family: "Circe";
}
.buttons__item_arrow:hover {
  background: #FFE267 url("../../img/buttons/arrow.svg") 32.02px 24.24px no-repeat;
}
.buttons__item .buttons__text {
  position: absolute;
  width: 186px;
  left: 18.65px;
  bottom: 18.65px;
  font-size: 22px;
  font-weight: 400;
}
@media screen and (max-width: 768px) {
  .buttons__item .buttons__text {
    width: 167px;
  }
}
@media screen and (max-width: 375px) {
  .buttons__item .buttons__text {
    width: 110px;
    font-size: 12px;
  }
}
@media screen and (max-width: 768px) {
  .buttons__item_arrow > .buttons__text {
    width: 200px;
  }
}
@media screen and (max-width: 375px) {
  .buttons__item_arrow > .buttons__text {
    width: 109.9px;
  }
}
@media screen and (max-width: 375px) {
  .buttons__item {
    background: #fff url("../../img/buttons/5d_375.svg") 25px 15px no-repeat;
  }
}

@media screen and (max-width: 768px) {
  .buttons {
    background: url("../../img/buttons/01_768.png") 0 -87px;
    padding: 0 0 0 0;
  }
  .buttons .wrapper {
    display: flex;
    flex-wrap: wrap;
    padding: 121px 3.26% 50px 3.26%;
    width: 93.97%;
  }
  .buttons .buttons__item {
    width: 31%;
  }
}
@media screen and (max-width: 375px) {
  .buttons {
    background: url("../../img/buttons/01_768.png") 0 -87px;
    padding: 0 0 0 0;
  }
  .buttons .wrapper {
    display: flex;
    flex-wrap: wrap;
    padding: 121px 3.26% 50px 3.26%;
    width: 86.94%;
  }
  .buttons .buttons__item {
    width: 45%;
  }
}
@media screen and (max-width: 375px) {
  .buttons__item_arrow {
    background: #FFE267 url("../../img/buttons/arrow.svg") 32.02px 24.24px no-repeat;
  }
}/*# sourceMappingURL=style.css.map */